/*--------------------------------------------------------------
  Font Face
------------------------------------------------------------- */

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.otf");
}

@font-face {
  font-family: "Montserrat-Hairline";
  src: url("../fonts/Montserrat-Hairline.ttf");
}

.fonte{
  font-family:"Montserrat-Regular" !important;
}

.cinza{
  color:#a9a9a9;
}

.background-cor{
	background-color: #000080;
}

.back-select{
  border: 1px solid #d3d3d3 !important;
}

.brand-logo{
	margin-left: 25px;
}

#barchartContainer {
      width: 900px;
      height: 400px;
      margin-bottom: 100px;
}

#barchart {
      position: absolute;
      display: center;
}

#linechartContainer {
      width: 900px;
      height: 400px;
      margin-bottom: 25px;
}

#histogramContainer {
      width: 900px;
      height: 400px;
      margin-bottom: 90px;
}

#mapid {
    width: 800px;
    height: 600px;
}

select{
      display: inline !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

